@font-face {
    font-family: 'Lato-Bold';
    src: url(../fonts/Lato-Bold.ttf);
}
/* 1 */
body {
    font-family: 'Lato-Bold';
}
/* 10 */
.image {
    display: block;
    padding-left: 600%;
}
/* 10 */
.header--primary {
    background-color: rgb(51, 51, 51);
    top: 100px;
    z-index: 10;
}
/* 20 */
.menu--secondary:hover {
    background-color: rgb(0, 158, 255);
    top: 110px; 
}
/* 10 */
.menu {
    display: flex;
    align-items: center;
    font-size: 0;
    width: 100px;
}
/* 10 */
.menu__item {
    font-size: 1.5rem;
    display: inline-block;
    white-space: nowrap;
}
/* 10 */
.menu__link {
    display: block;
    padding: 45px;
    width: 109px;
    font-weight: bold;
    position: relative;
    color: rgb(203, 203, 203);
    text-decoration: none;
}
/* 30 */
.menu__item:hover .submenu {
    display: block;
    width: 10%;
}
/* 10 */
.submenu {
    position: relative;
    width: 109px;
    position: absolute;
    display: none;
    background-color: rgb(0, 132, 239);
}
/* 10 */
.submenu__item {
    display: block;
    text-align: center;
    padding-top: 40px;
    width: 400px;
    height: 60px;
    background-color: rgb(0, 158, 255);
}
/* 10 */
.submenu__link {
    position: relative;
    color: rgb(203, 203, 203);
    text-decoration: none;
    white-space: nowrap;
}
/* 30 */
.submenu__item:hover .dropmenu {
    display: block;
    top: 50%;
    left: 293%;
}
/* 10 */
.dropmenu {
    position: absolute;
    display: none;
    background-color: rgb(0, 158, 255);
}
/* 10 */
.dropmenu__link {
    color: rgb(203, 203, 203);
    text-decoration: none;
    white-space: nowrap;
}
/* 10 */
.dropmenu__item {
    display: block;
    text-align: center;
    padding-top: 40px;
    width: 400px;
    height: 60px;
}
/* 10 */
.main {
    display: block;
}
/* 10 */
.main__title {
    font-size: 2rem;
    padding-left: 10%;
}
/* 10 */
.main__item {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-indent: 20px;
}